@import 'test/visual.css';

html {
	height: auto;
    /*text-size-adjust: none !important;*/
    -webkit-text-size-adjust: none !important;
    -moz-text-size-adjust: none !important;
    -o-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
}
body * {
    max-height: 999999px;
}
/* form elements */
label,
input,
select,
button {
    font-size: 14px;
}
.item label {
    margin-bottom: 5px !important;
}
#content .content-in .rightcol .item label {
    font-size: 14px;
}
input,
select,
textarea {
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
}
input {
    height: auto !important;
    line-height: 30px !important;
    padding: 0 5px !important;
    font-size: 14px !important;
}
input[type="checkbox"] {
	display: inline;
	width: auto !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}
input[type="checkbox"],
input[type="radio"] {
    transform-origin: left center;
    -moz-transform-origin: left center;
    -webkit-transform-origin: left center;
    -o-transform-origin: left center;
    -ms-transform-origin: left center;
}
select {
	height: 32px !important;
	font-size: 14px !important;
}
textarea {
    padding: 5px;
}
#content .cart .leftcol .item textarea {
    width: 100% !important;
    height: 140px !important;
    resize: none !important;
    outline: none !important;
}
/* layout */
#paging {
    display: none;
}
#content {
    padding-bottom: 0px;
}
#page #content {
    padding-bottom: 40px;
}
#content .content-in {
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}
#page #content .content-in {
	margin: 0;
    border: 1px solid #c0c0c0;
    box-shadow: 0 0 8px 2px #e8e8e8;
    -moz-box-shadow: 0 0 8px 2px #e8e8e8;
    -webkit-box-shadow: 0 0 8px 2px #e8e8e8;
}
#page #content .content-in .content {
	font-size: 14px;
}
.rightcol label input {
    float: left;
}
.general_content .item input {
    position: static;
}
#publish_start_date_forinline_display input {
    margin-bottom: 15px !important;
}
#similar-images ul li input {
	transform: scale(1.2);
}
.header .resp-search input {
    margin-left: 3px;
    float: left;
}
#resp-header .resp-search input {
    width: 77.5%;
}
.header .resp-search input {
    width: 89%;
}
#content .home-desc .search input {
    width: 240px;
    border: none;
}
.closebuttonholder {
    width: 760px;
    margin: 20px auto 0;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
    text-align: center;
}
.closebutton {
    margin: 0px auto;
    padding: 4px 0;
    width: 180px;
    color: #000000;
    background-color: #ffffff;
    background: -webkit-linear-gradient(#FFFFFF, #d8d8d8);
    background: -o-linear-gradient(#FFFFFF, #d8d8d8);
    background: -moz-linear-gradient(#FFFFFF, #d8d8d8);
    background: linear-gradient(#FFFFFF, #d8d8d8);
    border: solid #babcbe 1px;
    border-radius: 4px;
    cursor: pointer;
    line-height: 30px;
    font-size: 14px;
}
.closebutton.imagedetail.inheader {
    display: none;
}
.closebutton.inheader {
    float: right;
}
#responsivecontrols {
    display: none;
    list-style: none;
    text-align: center;
}
#responsivecontrols li {
    height: 40px;
    margin: 0 0 20px;
    width: 170px;
    display: inline-block;
    text-align: left;
}
#responsivecontrols li a {
    color: #606060;
    display: block;
    font-weight: 400;
    height: 35px;
    line-height: 35px;
    padding-left: 40px;
    white-space: nowrap;
}
#responsivecontrols li.item-1 a {
    background: url(img/lightbox-preview-1.png) 0 0 no-repeat;
}
#responsivecontrols li.item-2 a {
    background: url(img/lightbox-preview-2.png) 0 0 no-repeat;
}
#responsivecontrols li.item-3 a {
    background: url(img/lightbox-preview-3.png) 0 0 no-repeat;
}
#responsivecontrols li.item-4 a {
    background: url(img/lightbox-preview-4.png) 0 0 no-repeat;
}
#responsivecontrols a.button-blue {
	display: block;
	width: 170px;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background: #37A5EF;
    color: #FFFFFF !important;
    cursor: pointer;
}
#resp-header {
    display: none;
}
#content .home-desc .search,
.resp-search {
	padding: 1px 0 !important;
    border: solid #dbdbdb 1px;
    border-radius: 3px;
}
#content .home-desc .search {
    width: 285px;
    height: auto;
}
#content .home-desc .search button,
.resp-search button {
	width: 21px;
    height: 30px;
    float: right;
    margin-right: 5px;
    border: none;
    font-size: 0 !important;
    background: #ffffff url('img/search.png') no-repeat right center;
    cursor: pointer;
}
#content .home-desc .search button:hover {
    background: #ffffff url('img/search.png') no-repeat right center;
}
#resp-header .resp-search {
    width: 47%;
    float: left;
    margin-left: 12px;
}
.header .resp-search {
    width: 40%;
    float: right;
    margin-left: 20px;
    background: white;
}
.responsivetitle {
    margin-bottom: 15px;
    padding: 0 0 15px !important;
    border-bottom: solid #d0d0d0 1px;
    font-size: 18px !important;
}
.resp-kwcolumn a.h2 {
    font-weight: bold;
    color: #0099ff;
}
#resp-header .resp-smart-search {
    border: solid #b0b0b0 1px;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    display: block;
    float: left;
    cursor: pointer;
    color: #a0a0a0;
    text-decoration: none;
    font-size: 12px;
    width: 86px;
    text-align: center;
    background: -webkit-linear-gradient(#ffffff, #f0f0f0);
    background: -o-linear-gradient(#ffffff, #f0f0f0);
    background: -moz-linear-gradient(#ffffff, #f0f0f0);
    background: linear-gradient(#ffffff, #f0f0f0);
    padding: 2px 0;
}
#resp-header .resp-smart-search.opened {
    color: #ffffff;
    border-color: #080808;
    background: #c0c0c0;
}
.resp-menubtn,
#resp-header .resp-cartbtn {
    display: block;
    border: none;
    float: right;
    background: none;
    background-image: url('img/top-menubtn.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 28px;
    margin-right: 15px;
    text-indent: -1000px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
}
#resp-header .resp-menubtn {
    margin-top: 3px;
    margin-right: 3px;
}
#resp-header .resp-menubtn.opened {
    background-image: url('img/top-menubtn-h.png');
}
#resp-header .resp-cartbtn {
    background-image: url('img/top-cartbtn.png');
}
#resp-header .resp-benefitbtn {
    border: none;
    height: 31px;
    line-height: 31px;
    border-radius: 3px;
    display: block;
    float: right;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    clear: right;
    background-color: #696969;
    text-transform: uppercase;
    padding: 0 8px;
    margin-top: 13px;
    font-weight: bold;
    width: 55%;
    letter-spacing: 1px;
    text-align: center;
}
#resp-kwclose {
    display: none;
    background: #6a6a6a url('img/close.png') 15px center no-repeat;
    color: #ffffff;
    padding: 7px 15px 7px 40px;
    border-radius: 3px;
    text-decoration: none;
    margin: 0 auto 10px auto;
    width: 40px;
}
#keywords_content {
    min-width: 200px !important;
    padding: 0 !important;
}
#resp-kwlist {
    display: none;
}
#resp-license-details {
    display: none;
    margin-top: 20px;
}
#resp-license-details > span {
    display: block;
    line-height: 32px;
    text-align: center;
    background-color: #a9a9a9;
    font-size: 16px;
    letter-spacing: 2px;
    color: #ffffff;
    padding-top: 14px;
    padding-bottom: 14px;
}
#resp-license-details > table {
    padding: 20px 0 0;
    width: 100%;
    font-size: 14px;
}
#resp-license-details > table th {
    text-align: left;
    color: #000000;
    padding: 3px 20px;
}
#resp-license-details > table td {
    color: #808080;
    padding: 3px 0 3px 20px;
}
#keywords_wrapper #keywords_header {
    display: none;
}
.tostartpricing {
    text-align: center;
    padding: 10px 0;
    padding-left: 20px !important;
    background-color: #e8e8e8;
    color: #808080;
    margin-bottom: 20px;
    font-size: 14px;
}
.tostartpricing a {
    cursor: pointer;
}
.arrow.resp {
    display: none;
    padding-bottom: 15px;
}
.arrow.resp > span {
    clear: both;
    float: none;
    display: block;
    width: 0;
    height: 0;
}
#similar-images {
    padding: 12px 0;
}
#similar-images ul {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#similar-images ul li {
    display: inline;
    width: 25%;
    float: left;
    margin: 8px 0;
    padding: 0;
}
#similar-images ul li label {
    display: inline-block;
}

/* content */
#content .home-content .in.c > div,
#content .home-content div.pick-more-keywords {
    margin-top: 10px !important;
}
#content .home-content .in.c > div > a,
#content .home-content div.pick-more-keywords > a {
    cursor: pointer;
    position: relative;
    top: 10px !important;
}
#content .home-content ul.country li a {
    line-height: 20px;
    font-size: 13px;
}
#content .home-info p a {
    color: #696969;
    text-decoration: none;
}
#content .home-desc h1 {
    color: #686868;
    line-height: 34px;
    -webkit-text-rendering: auto;
}
#content .home-text > * {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
#content .home-text .item .desc h2 {
	width: 200px;
    width: auto;
    margin-right: 0;
    padding: 0 20px;
    font-size: 18px;
}
#content .home-text .item .desc p,
#content .home-text .item > p {
    font-size: 14px;
}
#content .home-text .item .desc p {
	box-sizing: border-box;
    width: auto;
    height: 33px;
    line-height: 33px;
    float: right;
    padding: 0 20px;
    border-color: #e0e0e0;
}
/* content-in */
#content.search .content-in .header {
    padding: 20px 0;
    height: auto;
}
#content.search .content-in .header.c h1 {
    white-space: nowrap;
}
#content .content-in .header span {
    padding-right: 0;
}
#content .content-in .header span.resp,
#content .content-in .header span.resp span {
    float: none;
    padding: 0;
    line-height: inherit;
    color: inherit;
    font-size: inherit;
}
#content .content-in .header .item label span {
    padding: 0;
    line-height: normal;
    display: inline;
    display: none;
    float: none;
    font-size: 100%;
}
#content .content-in .home-info,
#content .content-in .home-text {
    display: none;
    clear: both;
}
#content .content-in .home-info p {
    line-height: 40px;
}
#keywords_wrapper #keywords_header_right > a.gray2 {
    display: inline-block;
    padding-right: 10px;
}
#publish_start_date_forinline_display.hasDatepicker {
    height: auto;
}
#publish_start_date_forinline_display.hasDatepicker .ui-datepicker-inline {
    clear: both;
    width: 280px;
    margin: 15px 0 10px auto;
    padding: 1px;
}
#publish_start_date_forinline_display.hasDatepicker .ui-datepicker-inline .ui-state-active {
    background: -webkit-linear-gradient(#7FCBFF, #37A5EF);
    background: -o-linear-gradient(#7FCBFF, #37A5EF);
    background: -moz-linear-gradient(#7FCBFF, #37A5EF);
    background: linear-gradient(#7FCBFF, #37A5EF);
}
#publish_start_date_forinline_display.hasDatepicker .ui-datepicker-inline td > a,
#publish_start_date_forinline_display.hasDatepicker .ui-datepicker-inline th > a,
#publish_start_date_forinline_display.hasDatepicker .ui-datepicker-title,
#publish_start_date_forinline_display.hasDatepicker .ui-datepicker-prev,
#publish_start_date_forinline_display.hasDatepicker .ui-datepicker-next {
    height: 25px;
    line-height: 25px;
    text-align: center;
}
div.search .c form > div button {
    float: none;
    position: relative;
    margin: 8px auto 0;
    width: 180px;
}
.rightcol div br,
.rightcol .section .section-in br,
.rightcol .my-account-lightbox-categories br {
    display: inline;
}
.rightcol br {
    display: none;
}
.news_post {
    margin-top: 20px;
    padding-bottom: 0;
}
.news_post:first-child {
    margin-top: 0 ;
}
/* exe */
#content .content-in .rightcol > .oneitem,
#content .content-in .rightcol #form_login .item:first-child,
#content .home-content > *,
.lightbox .preview .search .head,
.lightbox .preview .leftcol .desc > *,
#footer .in > * {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
/* header */
#header a.logo {
    top: 45px;
}
#header .menu {
    top: 49px;
}
#header .menu li,
#header .top-menu li {
    font-size: 14px;
}
/*#header .top-menu li */.smart-search {
	/*display: block;*/
    /*width: auto;*/
    /*height: 28px;*/
    /*line-height: 28px;*/
    line-height: 1 !important;
    /*margin-top: -9px;*/
    border: 1px solid #B0B0B0;
    border-radius: 4px;
    /*padding: 2px 5px;*/
    padding: 8px 5px;
    background: linear-gradient(#FFF, #F0F0F0) repeat scroll 0% 0% transparent;
    color: #A0A0A0 !important;
    /*text-align: center;*/
}
/* footer */
#footer {
    background-image: none;
    height: 410px;
    padding: 0;
}
#footer .in.fluid {
    margin: 0 auto;
}
#footer .in.in980,
#footer .in.fluid {
    width: 980px;
    height: 410px;
    min-width: 280px;
    padding-left: 0;
    padding-right: 0;
}
#footer .in .box {
    text-align: left !important;
}
#footer .in .box.first {
    width: 25%;
}
#footer .in .box.second {
    width: 38%;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#footer .in .box.last {
    width: 23%;
}
#footer .in .box ul {
    padding-bottom: 20px;
}
#footer .in .box ul li {
    border-bottom: solid #bbbbbb 1px;
    font-size: 14px;
}
#footer .in .box ul li:last-child {
    border-bottom: none;
}
#footer .in .box ul li a {
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    display: block;
}
#footer .in .box ul li img {
    display: none;
}
#footer .in #logo_left,
#footer .in.in980 #logo_left,
#footer .in #logo_right,
#footer .in.in980 #logo_right {
    position: static;
    float: none;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px dotted #e0e0e0;
    background-image: none;
}
#footer .in #logo_left,
#footer .in #logo_right {
    height: auto;
    padding: 10px 0 0 0;
    height: 80px;
}
#footer .in #logo_left,
#footer .in.in980 #logo_left {
    clear: left;
    border-top: 1px solid #e0e0e0;
    padding-top: 35px;
    padding-bottom: 13px;
}
#footer .in #logo_left > img {
    float: right;
    margin-top: 20px;
}
#footer .in #logo_left a > img {
    width: auto;
    height: auto;
    margin-right: 0 !important;
}
#footer .in #logo_right div {
    margin-bottom: 5px !important;
}
#footer .in #logo_right > img {
    float: left;
    margin-right: 0 !important;
}
#footer .in #logo_right > img + img {
    float: right;
    margin-bottom: 0;
    position: relative;
    top: -10px;
}
#footer .in p {
    position: static;
    left: 0 !important;
    margin: 20px 0 0;
    padding-bottom: 20px;
    padding-left: 15px;
    font-size: 12px;
}
#footer-background {
    position: absolute;
    height: 40px;
    z-index: -1000;
    width: 100%;
    background: none repeat scroll 0% 0% rgb(193, 193, 193);
}
/* home */
#content .home-content {
    padding: 20px 0;
}
#content .home-content ul.country {
    font-size: 14px;
}
#content .home-content ul.country > div.pick-more-keywords {
    display: block;
    background-color: #bbbbbb;
    position: static !important;
    border-radius: 4px;
    padding: 0 10px;
    margin-left: -1px; /* jpf-2015 */
    margin-right: -127%;
    background: -webkit-linear-gradient(#FFFFFF, #F0F0F0);
    background: -o-linear-gradient(#FFFFFF, #F0F0F0);
    background: -moz-linear-gradient(#FFFFFF, #F0F0F0);
    background: linear-gradient(#FFFFFF, #F0F0F0);
    border: 1px solid #B0B0B0;
}
#content .home-content ul.country > div > a {
    line-height: 40px;
    text-align: left;
    display: block;
    top: 0 !important;
    color: #A0A0A0;
    background: url('img/more.png') no-repeat right center;
    text-decoration: none;
}
#content .home-content ul.country > div > a:hover {
    text-decoration: none;
}
#content .home-content ul.country > div > a > span {
    display: inline;
    font-style: italic;
}
#content .home-content ul > div {
    display: none;
}
/* content-in */
#content .content-in .header {
    padding-right: 20px;
    margin-bottom: 0;
    border-radius: 0;
}
#page #content .content-in .header * {
    font-size: 17px;
    white-space: nowrap;
}
#content .content-in .header span {
    font-size: 13px !important;
}
#page #content .content-in .header form {
    display: block;
    font-size: 13px;/*?search-header-display > 14px*/
}
#content.search .content-in .header {
    padding-left: 20px;
    padding-right: 20px;
}
#content.search .content-in .header h1 {
    display: none;
}
/* content - in */
#content .content-in .general_content > p {
    margin: 10px 0;
    font-size: 14px;
}
#content .content-in .general_content .rightcol > div:first-child {
    padding: 0 20%;
}
#content .content-in .general_content > p:first-child {
    text-align: justify;
    margin: 0 0 20px;
}
#content .content-in .rightcol {
    font-size: 14px;
}
#content .content-in .rightcol .head,
.fluid #content .content-in .rightcol .head {
    font-size: 14px;
}
#content .content-in .rightcol .head-2 {
    padding: 0 20px !important;
}
.fluid #content .content-in .header > .item {
    width: auto;
    float: right;
    margin: 0 0 0 35px !important;
    padding: 0 !important;
    line-height: 34px !important;
}
.fluid #content .content-in .header > form {
    float: left;
}
.fluid #content .content-in .header .item,
.fluid #content .content-in .header form {
	font-size: 14px !important;
}
.fluid #content .content-in .header .item label,
.fluid #content .content-in .header .item input {
	font-size: 100% !important;
}
.fluid #content .content-in .header .item input[type="checkbox"] {
    transform-origin: right center;
    -moz-transform-origin: right center;
    -webkit-transform-origin: right center;
    -o-transform-origin: right center;
    -ms-transform-origin: right center;
    transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
}
.fluid #content .content-in .header .item label {
    vertical-align: middle;
    line-height: 1 !important;
}
.fluid #content .content-in .header .item input,
.fluid #content .content-in .header form {
    position: static;
}
.fluid #content .content-in .header select {
    /*-webkit-appearance: listbox !important;
    -moz-appearance: listbox !important;
    -o-appearance: listbox !important;
    -ms-appearance: listbox !important;*/
}
#content .content-in .content .rightcol > form > div:last-child {
    display: none;
}
#content .content-in .leftcol {
    font-size: 14px;
}
#content .content-in .leftcol .head {
    padding: 0;
    font-size: 16px;
}
#content .content-in .rightcol .head {
    padding: 0;
    padding-left: 20px;
    font-size: 16px;
}
#content .content-in .rightcol .head-3 {
    padding: 0;
}
#content .content-in .leftcol .head,
#content .content-in .rightcol .head,
.fluid #content .content-in .rightcol .head,
#content .content-in .leftcol .head a,
#content .content-in .rightcol .head a {
    height: 50px;
    line-height: 50px;
}
#content .content-in .leftcol .head a {
    display: block;
    background-color: #c0c0c0;
    text-align: center;
}
.fluid #content .content-in .rightcol .head {
    padding: 0 20px;
}
#content .content-in .rightcol .item {
    padding: 0 20% 20px;
}
/* purchases */
#content .content-in .rightcol .purchase-item {
	/*font-size: 15px;*//*!*/
}
#content .content-in .rightcol .purchase-item a.button-blue,
#content .content-in .rightcol .purchase-item a.button-grey {
    position: static;
    height: 40px;
	line-height: 40px;
	font-size: 15px;
}
#content .content-in .rightcol .purchase-item a.button-blue {
    display: inline-block;
    float: none;
    margin-right: 15px;
}
#content .content-in .rightcol .purchase-item table {
    width: auto;
}
#content .content-in .rightcol .purchase-item table tr td {
	width: auto;
    padding-right: 10px;
}
#content .content-in .rightcol .purchase-item table tr th {
    width: auto;
}
#content .content-in .rightcol .purchase-item .desc,
#content .content-in .rightcol .purchase-item table tr td,
#content .content-in .rightcol .purchase-item table tr th {
    font-size: 14px;
}
#content .content-in .rightcol .purchase-item table + div {
	width: 46% !important;
    padding-left: 0 !important;
}
#content .content-in .rightcol .purchase-item table + div p + p input[type="radio"] {
	vertical-align: middle;
}
#content .content-in .rightcol .purchase-item table + div p + p span {
    margin-left: 3px;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14px !important;
    line-height: 2.6;
}
#content .content-in .rightcol .purchase-item table + div p + p a.link {
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
}
#content .content-in .rightcol .purchase-item table + div p input:last-child {
    display: none;
}
#content .content-in .rightcol .purchase-item table + div div {
    display: none;
}
#content .content-in .rightcol .purchase-item table + div div + div {
    display: block;
    margin-bottom: 66px !important;
}
#content .content-in .rightcol .purchase-item table + div > div + div + p,
#content .content-in .rightcol .purchase-item table + div > p + p + p {
    text-align: right;
}
/* content-in */
#content .content-in .rightcol input#login_password_md5 + input + .item {
    width: auto;
}
#content .content-in .rightcol #form_login .item:first-child {
    text-align: center;
}
#content .content-in .rightcol .item label,
#content .content-in .rightcol .item input,
#content .content-in .rightcol .item select,
#content .content-in .rightcol .item textarea {
    width: 100%;
    float: none;
    display: inline-block; /*?label in styles*/
    margin: 0 auto;    /*?centered thru .item padding*/
    text-align: left;
}
#content .content-in .rightcol .item select {
    position: static;
}
#content .content-in .rightcol .item textarea {
    line-height: 18px;
}
#content .content-in .rightcol .item span {
    display: block;
    text-align: left;
    margin-left: auto;
    font-size: 14px;
}
#content .content-in .rightcol button.new,
#content .content-in .rightcol button.newsoft {
    display: block;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto;
    height: 40px;
    width: 180px !important;
}
#content .content-in .rightcol button.new {
    margin-bottom: 0;
    font-size: 15px;
}
#content .content-in .content.general_content > .rightcol {
    padding-bottom: 0 !important;
}
#content .content-in .general_content .rightcol {
    width: auto !important;
    float: none;
}
#content .content-in .rightcol > #form_register {
    border-bottom: none;
}
#content .content-in .rightcol > .head:first-child + #form_register {
    margin-bottom: 20px;
}
#content .content-in .rightcol > .form_contact {
    margin-bottom: 20px;
    margin-bottom: 15px;
}
#password + br,
#content .content-in .rightcol form#form_register #password + label,
#content .content-in .rightcol form#form_register #password + br + label {
    display: none;
}
#content .content-in .rightcol .email-content {
    width: auto;
    margin-bottom: 20px;
}
#content .content-in .rightcol .email-item ul,
#content .content-in .rightcol .email-item ul li {
    width: auto;
}
#content .content-in .rightcol .email-item ul li {
    margin-bottom: 35px;
}
#content .content-in .rightcol .email-item ul li label {
    padding: 0;
    float: right;
    width: 94%;
}
#content .content-in .rightcol .item a {
    color: #5187B6;
    text-decoration: underline;
}
form#form_login div.item a.forgotpassword,
#content .content-in .rightcol .item .forgotpassword {
    color: #5187B6;
    display: block;
    margin: 20px 0 0 0;
    text-decoration: underline;
    text-align: center;
}
/* cart */
#content .cart .cart-item .desc {
    position: relative;
    top: 114px;
}
#content .cart .cart-item .desc > label {
    display: inline;
}
#content .cart .cart-item .desc > label,
#content .cart .cart-item .desc > input {
	float: none !important;
    vertical-align: middle;
    padding-top: 0 !important;
}
#content .cart .cart-item .desc .image {
    position: absolute;
    top: -114px;
    margin-top: 0;
}
#content .cart .cart-item span {
    font-size: 16px !important;
}
#content .cart .cart-item .price p {
    font-size: 15px;
}
#content .cart .cart-item span + p + span {
    font-size: 14px !important;
}
#content .cart .cart-item-note,
#content .cart .cart-item table {
    font-size: 14px;
}
#content .cart .cart-item table tr th,
#content .cart .cart-item table tr th.h2,
#content .cart .cart-item table tr td,
#content .cart .cart-item table th td {
    font-size: 100%;
}
#content .content-in .cart .rightcol {
    width: 320px !important;
}
#content .content-in .cart .rightcol .section .head {
    height: auto;
    margin: 0;
}
#content .cart .rightcol .section-in {
    padding: 20px;
}
#content .cart .rightcol .section-in table tr.space td,
#content .cart .rightcol .section-in table tr.space th {
    padding: 0;
}
#content .cart .rightcol .section-in table tr.space:first-child td,
#content .cart .rightcol .section-in table tr.space:first-child th {
    padding: 0 0 20px;
}
#content .content-in .cart .leftcol,
#content .cart .total-price-bottom .left {
    width: 63.6% !important;
    margin-top: 0;
    margin-left: 0;
}
#content .content-in .leftcol .section .head,
#content .cart .leftcol .section .head,
#content .content-in .cart .rightcol .section .head {
    height: auto;
    line-height: 49px;
    padding: 0 20px;
}
#content .cart .leftcol .section input.licence {
    margin: 0 10px 0 12%;
}
#content .cart .leftcol .section .section {
    border: none;
}
#content .cart .leftcol .item {
    height: 30px;
    margin-bottom: 15px;
    padding: 0 12%;
    text-align: center;
    font-size: 14px;
}
#content .cart .leftcol .section .section + .section .item {
    height: auto;
}
#content .cart .leftcol .item label {
    width: auto;
    float: left;
    text-align: right;
    font-size: 14px;
}
#content .cart .leftcol .item input {
    width: 60%;
    margin: 0;
    float: right;
}
#content .cart .leftcol .item select {
    position: static;
    width: 60%;
    float: right;
    margin: 0;
}
#content .cart .leftcol .item textarea {
    width: 100%;
    line-height: 18px;
    margin: 0 auto;
    text-align: left;
    float: none;
    font-size: 14px;
}
#content .cart .payment #place_your_order {
    width: 200px;
    padding: 10px 0 !important;
    height: auto !important;
    line-height: 38px;
    font-size: 17px !important;
}
#content .cart .total-price {
    padding: 0 0 20px;
}
#content .cart .total-price p {
    margin-top: 9px;
    padding-right: 0;
}
#content .cart .total-price p.required {
    float: none;
    margin-top: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
}
#content .cart .total-price-bottom {
    clear: both;
    padding-top: 0;
}
.oneitem:last-child {
    padding-bottom: 0;
}
#content .content-in .content .cart .rightcol > * {
    padding: 0;
}
#content .cart a.button-blue,
#content .cart a.button-grey,
#content .cart a.button-grey.alignright {
    width: 200px;
    padding: 5px 0;
    text-align: center;
    display: block;
}
#content .cart a.button-blue,
#content .cart a.button-grey {
    float: none;
    height: 30px;
    font-size: 15px;
    clear: none;
}
#content .cart .total-price-bottom .left {
    padding: 0;
    float: none !important;
    text-align: center;
}
#content .cart #cart_status_bottom.total-price-bottom .left {
    width: auto !important;
    padding-top: 8px;
    float: left !important;
}
#content .cart .total-price-bottom .left a {
    display: inline-block;
    float: none;
    margin: 0 auto 0;
}
#content .cart .total-price-bottom .left a.button-blue {
    margin-bottom: 20px;
}
#content .cart .total-price-bottom .left br {
    display: none;
}
/* invoices */
#content .content-in .rightcol .invoices .item-detail {
    position: relative;
    width: auto !important;
    background-image: none;
    background-color: #f8f8f8;
    font-size:13px;
}
#content .content-in .rightcol .invoices .item-detail .left {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #e8e8e8;
}
#content .content-in .rightcol .invoices .item-detail .left p,
#content .content-in .rightcol .invoices .item-detail .right .desc,
#content .content-in .rightcol .invoices .item-detail .right table tr td,
#content .content-in .rightcol .invoices .item-detail .right table tr th,
#content .content-in .rightcol .invoices .item-detail .right table tr th.h2 {
    font-size: 14px;
}
#content .content-in .rightcol .invoices .item div {
    height: 40px;
	line-height: 1;
}
/* image list */
.image-content {
    padding-bottom: 20px;
    position:relative;
}
.image-content.search {
    padding-bottom: 20px;
}
.image-content.search p.info {
    height: auto;
    padding: 0 0 20px;
}
.image-content.search a.button {
    width: 180px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.image-content .filter-box {
    padding: 15px 20px 20px 20px;
}
.image-content .filter-box a.close {
    background-position: center;
    right: 3px;
    top: 3px;
    width: 40px;
    height: 40px;
}
.image-content .filter-box ul {
    padding-top: 30px;
}
.image-content .filter-box ul li {
    padding-bottom: 30px;
}
.image-content.search .filter-box form > input + div {
    width: auto !important;
    margin-bottom: 20px !important;
}
.image-content.search .filter-box form > input + div + div {
    width: 240px !important;
    line-height: 40px;
    height: auto !important;
    padding: 0px 20px 0 10px !important;
}
.image-content.search .filter-box form > input + div + div > i {
	line-height: 1;
}
.image-content.search .filter-box form > input + div + div + div {
	height: auto !important;
	line-height: 40px;
	padding: 0 0 0 12px !important;
}
.image-content.search .filter-box form > input + div + div + div > div {
	position: static !important;
}
.image-content.search .filter-box form > input + div + div + div > div a {
	vertical-align: middle;
	cursor: pointer;
}
.image-content.search .filter-box form > div + div > input {
    margin: 0 !important;
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
}
.image-content.search .filter-box form > div + div > input + label {
    margin-left: 7px;
    vertical-align: middle;
    font-size: 14px !important;
}
.image-content.search .filter-box form > input + div + div > div {
    position: static !important;
    float: right;
}

.image-content.search .filter-box form > input + div + div > div a,
.image-content .filter-box .descr1 {
	vertical-align: middle;
	cursor: pointer;
}
.image-content a.top,
.image-content.search .arrow {
    position: static;
}
.image-content .arrow a {
    height: 36px;
    line-height: 36px;
}
.image-content .arrow > div {
    padding-top: 0 !important;
}
.image-content .arrow span.paging.current {
    padding: 10px 14px;
}
.image-list {
    text-align: center;
}
.search .image-list {
    text-align: left;
}
.image-list li {
    display: inline-block;
    height: 288px;
    float: none;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: top;
}
.search .image-list li {
    display: list-item;
    float: left;
    margin: 0 40px 40px 0;
}
.image-list li .image {
    width: auto;
    height: auto;
    line-height: 168px;
}
.image-list li .image img {
    vertical-align: middle;
}
.image-list li .pict {
    margin-bottom: 9px !important;
}
.image-list li p,
.image-list li p strong {
    font-size: 13px;
}
.image-list li p {
    min-height: 57px !important;
}
.image-list li .cs_addtocart,
.image-list li .cs_addtolightbox {
    padding: 3px 0 !important;
}
/* category - lightbox */
div.my-account-lightbox-categories {
    text-align: center;
}
div.my-account-lightbox-categories > form > input#category_name {
    width: 85% !important;
}
div#div_existing_categories > p > b {
    display: inline-block;
    width: 15%;
    text-align: left;
}
/* lightbox */
.lightbox .header {
    height: auto;
    padding-bottom: 20px;
}
.lightbox .header a.logo {
    position: relative;
}
.lightbox .header .desc {
    position: static;
    clear: both;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-top: 8px;
    font-size: 14px;
}
.lightbox .header .arrow {
    float: right;
    position: static;
}
.lightbox .header .arrow a {
    display: block !important;
    height: 32px;
    line-height: 32px;
}
/* category - lightbox */
.lightbox-category {
	right: auto !important;
    width: auto;
	height: auto;
	padding-bottom: 40px;
}
.lightbox-category a.close {
    background-position: center;
    right: 3px;
    top: 3px;
    width: 40px;
    height: 40px;
}
.lightbox-category p.first {
	padding-top: 30px;
}
.lightbox-category input,
.lightbox-category select {
    width: 100% !important;
}
.lightbox-category button {
    display: block;
    position: static !important;
    width: 150px;
    height: 35px !important;
    margin: 20px auto -25px;
    font-size: 16px !important;
}
.lightbox #popup {
    display: block !important;
    position: static !important;
    width: 460px !important;
    left: 0 !important;
    top: 0 !important;
    margin: 20px auto;
    padding: 20px !important;
}
/* lightbox - preview */
.lightbox .preview {
    font-size: 14px;
}
.lightbox .preview .rightcol {
    width: auto;
    border-top: none;
    padding: 0;
}
.lightbox .preview .rightcol p.c {
    display: block;
}
.lightbox .preview .rightcol p.button-info {
    margin-top: 20px;
    padding-top: 0;
}
.lightbox .preview .rightcol a.button-blue {
    width: 180px;
    height: 40px;
    line-height: 40px;
}
.lightbox .preview .rightcol ul li a {
    background-position: -180px 0px !important;
    padding-left: 50px;
    color: #a0a0a0;
    text-decoration: none;
    line-height: 40px;
}
.lightbox .preview .rightcol ul li a:hover {
    background-position: -180px -40px !important;
    color: #000000;
}
.lightbox .preview .rightcol ul li.second a {
    line-height: 13px;
}
.lightbox .preview .rightcol ul li.second a span {
    font-size: 12px;
}
.lightbox .preview .rightcol ul li.second span a {
    top: 25px !important;
    padding-left: 0;
    margin-left: 50px;
}
.lightbox .preview .leftcol.fullwidth > br,
.lightbox .preview .leftcol.fullwidth + .rightcol {
    display: none;
}
.lightbox .preview .leftcol .image {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    line-height: 500px;
}
.lightbox .preview .leftcol .desc {
    width: 152%;
}
.lightbox .preview .leftcol .desc table tr td {
    padding-right: 30px;
    white-space: nowrap;
}
.lightbox .preview .leftcol .desc table tr th span {
    display: inline-block;
    border-radius: 3px;
    color: #ffffff;
    margin-right: 0 !important;
}
.lightbox .preview .leftcol .desc table tr th span a {
    color: #404040;
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 0 10px !important;
    border-radius: 4px;
    text-decoration: none;
    background: -webkit-linear-gradient(#FFFFFF, #F0F0F0);
    background: -o-linear-gradient(#FFFFFF, #F0F0F0);
    background: -moz-linear-gradient(#FFFFFF, #F0F0F0);
    background: linear-gradient(#FFFFFF, #F0F0F0);
    border: solid #babcbe 1px;
    margin: 10px 10px 0 0 !important;
    cursor: pointer;
}
.lightbox .preview .c .leftcol.text.fullwidth h3 {
    padding-top: 30px;
    padding-bottom: 10px;
}
.lightbox .preview .c .leftcol.text > h2 + p + p {
    margin: 20px 0;
}
.lightbox > .preview > .c > .leftcol.text.fullwidth > p > a > span {
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
}
.lightbox .preview .c .leftcol.text p > a {
    padding: 5px 0;
    display: inline-block;
}
.lightbox .preview .search {
    padding-bottom: 0;
}
.lightbox .preview button {
    padding: 5px 0;
    width: 112px;
    height: auto;
}
#content .content-in .rightcol .purchase-item input[type="radio"],
#content .content-in .rightcol .invoices .item input[type="checkbox"] {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}
/* image list */
.image-content .filter-box ul li label
{
    font-size: 14px !important;
}
.image-content .filter-box ul li input[type="checkbox"],
.lightbox .pricing .rightcol .item.territories input[type="checkbox"] {
    transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
}
.image-content .filter-box button,
.image-content .filter-box button.cancel {
	position: static;
    height: auto;
    line-height: 38px;
    padding: 0;
    font-size: 15px;
}
.image-content .filter-box button.cancel {
	margin-right: 20px;
}
/* lightbox - pricing */
.lightbox .pricing .leftcol table {
    font-size: 14px;
}
.lightbox .pricing .rightcol {
    width: 57%;
    font-size: 14px;
}
.lightbox .pricing .rightcol .item {
    height: 30px;
}
.lightbox .pricing .rightcol .item label,
.lightbox .pricing .rightcol .item input,
.lightbox .pricing .rightcol .item select,
.lightbox .pricing .rightcol .item div.description {
    display: block;
    width: 77%;
    text-align: left;
    font-size: 14px;
}
.lightbox .pricing .rightcol .item.territories ul li label,
.lightbox .pricing .rightcol .item.territories input {
    display: inline;
    float: none !important;
}
.lightbox .pricing .rightcol .item.territories input[type="checkbox"] {
    margin-right: 10px;
}
.lightbox .pricing .rightcol .item.territories ul li {
    height: auto !important;
    padding: 10px 3px !important;
}
.lightbox .pricing .rightcol .item div.description {
    float: right;
    margin-right: 0;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.lightbox .pricing .rightcol .item label {
    width: auto;
    background: none;
}
.lightbox .pricing .rightcol .item input {
    margin-bottom: 15px;
    margin-right: 0 !important;
}
.lightbox .pricing .rightcol .item select {
    position: static;
    float: right;
}
.lightbox .pricing .rightcol > .info {
   clear: both;
   margin-right: 0;
}
.lightbox .pricing .rightcol > .info h4 span {
    font-size: 18px;
}
.lightbox .pricing .rightcol .item.noheight {
    padding-bottom: 0;
}
.lightbox .pricing .rightcol .item ul {
    width: 77% !important;
    margin-left: auto;
    margin-right: auto !important;
    padding: 10px 5px 0;
    float: right !important;
}
.lightbox .pricing .rightcol ul > li,
.lightbox .pricing .rightcol ul > li label {
    width: auto !important;
}
.lightbox .pricing .rightcol .item.territories {
    height: auto !important;
}
.lightbox .pricing .rightcol .item.territories ul {
    height: 300px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.lightbox .pricing .rightcol .item.territories ul li.separator {
    height: 1px !important;
    padding: 3px !important;
}
.lightbox .pricing .rightcol .item.territories ul label {
   margin: 0 0 0 23px !important;
   line-height: 1;
   background: none;
}
.lightbox .pricing .rightcol .item.territories input {
    line-height: 1;
    margin: 0;
    padding: 0 !important;
}
.lightbox .pricing .rightcol .buttons {
    margin: 0 auto;
}
.lightbox .pricing .rightcol .buttons p.price {
    position: static;
    margin-bottom: 20px !important;
    font-size: 17px;
    text-align: center;
    border-bottom: 1px #e0e0e0 solid;
    padding-bottom: 20px;
}
.lightbox .pricing .rightcol a.button-blue {
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 16px; /*OK*/
}
.lightbox .pricing .rightcol a.button-blue.left {
    float: none !important;
    margin: 0 auto;
}
.lightbox .pricing .rightcol a.button-blue + a.button-blue.left {
    float: left !important;
    margin: 0;
}
.lightbox .cs_addtocart {
	left: 50px;
    width: 180px !important;
    margin-top: 10px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.lightbox .pricing .cs_addtocart {
    top: 148px !important;
    right: 0;
    left: auto !important;
}
.lightbox .pricing .leftcol { /* OK */
    padding-right: 0 !important;
    width: 260px;
}
.lightbox .pricing .leftcol table tr td { /*OK*/
	width: 80px;
}
.lightbox .pricing .leftcol p { /*OK*/
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
}
.lightbox .pricing .leftcol span.h2 {
    margin: 15px 0;
    height: 40px;
    line-height: 40px;
    background-color: #a9a9a9;
    color: #ffffff;
    padding: 0;
    text-align: center;
}
.lightbox .pricing #resp-license-details span {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* paging */
div b a.paging:first-child,
div b a.paging:last-child {
	display: none;
}
