html {
	height: auto;
    /*text-size-adjust: none !important;*/
    -moz-text-size-adjust: none !important;
    -webkit-text-size-adjust: none !important;
    -o-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
}
body * {
    max-height: 999999px;
}
label,
input,
select,
button {
    font-size: 14px !important;
}
.item label {
    margin-bottom: 5px !important;
}
input,
select,
textarea {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
}
input {
    padding: 0 5px !important;
    /*transform-origin: left center;*/
    -moz-transform-origin: left center;
    -webkit-transform-origin: left center;
    -o-transform-origin: left center;
    -ms-transform-origin: left center;
}
input[type="checkbox"] {
    /*appearance: checkbox !important;*/
    -webkit-appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
    -o-appearance: checkbox !important;
}
input[type="radio"] {
	/*appearance: radio !important;*/
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important;
}
input[type="checkbox"],
input[type="radio"] {
	width: 15px !important;
    height: 15px !important;
    line-height: 15px !important;
    /*transform-origin: left center;*/
    -moz-transform-origin: left center;
    -webkit-transform-origin: left center;
    -o-transform-origin: left center;
    -ms-transform-origin: left center;
}
input,
select {
    height: 30px !important;
    line-height: 30px !important;
    font-size: 14px !important;
}
textarea {
    padding: 5px;
}

#paging {
    display: none;
}
#content {
    padding-bottom: 0px;
}
#page #content {
    padding-bottom: 40px;
}
#content .content-in {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0 auto;
}
#page #content .content-in {
	margin: 0;
    border: 1px solid #c0c0c0;
    box-shadow: 0 0 8px 2px #e8e8e8;
    -moz-box-shadow: 0 0 8px 2px #e8e8e8;
    -webkit-box-shadow: 0 0 8px 2px #e8e8e8;
}
#page #content .content-in .content {
	font-size: 14px;
}
.rightcol label input {
    float: left;
}
.general_content .item input {
    position: static;
}
#publish_start_date_forinline_display input {
    margin-bottom: 15px !important;
}
#similar-images ul li input {
    width: 15px !important;
    height: 15px !important;
}
.header .resp-search input {
    margin-left: 3px;
    float: left;
}
#resp-header .resp-search input {
    width: 77.5%;
}
.header .resp-search input {
    width: 89.5%;
}
#content .home-desc .search input {
    width: 240px;
    border: none;
}
.closebuttonholder {
    width: 760px;
    margin: 20px auto 0;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
    text-align: center;
}
.closebutton {
    margin: 0px auto;
    padding: 4px 0;
    width: 180px;
    color: #000000;
    background-color: #ffffff;
    background: -webkit-linear-gradient(#FFFFFF, #d8d8d8);
    background: -o-linear-gradient(#FFFFFF, #d8d8d8);
    background: -moz-linear-gradient(#FFFFFF, #d8d8d8);
    background: linear-gradient(#FFFFFF, #d8d8d8);
    border: solid #babcbe 1px;
    border-radius: 4px;
    cursor: pointer;
    line-height: 30px;
    font-size: 14px;
}
.closebutton.imagedetail.inheader {
    display: none;
}
.closebutton.inheader {
    float: right;
}
#responsivecontrols {
    display: none;
    list-style: none;
    text-align: center;
}
#responsivecontrols li {
    height: 40px;
    margin: 0 0 20px;
    width: 170px;
    display: inline-block;
    text-align: left;
}
#responsivecontrols li a {
    color: #606060;
    display: block;
    font-weight: 400;
    height: 35px;
    line-height: 35px;
    padding-left: 40px;
    white-space: nowrap;
}
#responsivecontrols li.item-1 a {
    background: url(img/lightbox-preview-1.png) 0 0 no-repeat;
}
#responsivecontrols li.item-2 a {
    background: url(img/lightbox-preview-2.png) 0 0 no-repeat;
}
#responsivecontrols li.item-3 a {
    background: url(img/lightbox-preview-3.png) 0 0 no-repeat;
}
#responsivecontrols li.item-4 a {
    background: url(img/lightbox-preview-4.png) 0 0 no-repeat;
}
#responsivecontrols a.button-blue {
	display: block;
	width: 170px;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background: #37A5EF;
    color: #FFFFFF !important;
    cursor: pointer;
}
#resp-header {
    display: none;
}
#content .home-desc .search,
.resp-search {
	padding: 1px 0 !important;
    border: solid #dbdbdb 1px;
    border-radius: 3px;
}
#content .home-desc .search {
    width: 285px;
    height: auto;
}
#content .home-desc .search button,
.resp-search button {
	width: 21px;
    height: 30px;
    float: right;
    margin-right: 5px;
    border: none;
    font-size: 0 !important;
    background: #ffffff url('img/search.png') no-repeat right center;
    cursor: pointer;
}
#content .home-desc .search button:hover {
    background: #ffffff url('img/search.png') no-repeat right center;
}
#resp-header .resp-search {
    width: 47%;
    float: left;
    margin-left: 12px;
}
.header .resp-search {
    width: 40%;
    float: right;
    margin: 15px 20px 0 10px;
    background: white;
}
.responsivetitle {
    padding: 0 0 15px !important;
    border-bottom: solid #d0d0d0 1px;
    font-size: 18px !important;
}
.resp-kwcolumn a.h2 {
    font-weight: bold;
    color: #0099ff;
}
#resp-header .resp-smart-search {
    border: solid #b0b0b0 1px;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    display: block;
    float: left;
    cursor: pointer;
    color: #a0a0a0;
    text-decoration: none;
    font-size: 12px;
    width: 86px;
    text-align: center;
    background: -webkit-linear-gradient(#ffffff, #f0f0f0);
    background: -o-linear-gradient(#ffffff, #f0f0f0);
    background: -moz-linear-gradient(#ffffff, #f0f0f0);
    background: linear-gradient(#ffffff, #f0f0f0);
    padding: 2px 0;
}
#resp-header .resp-smart-search.opened {
    color: #ffffff;
    border-color: #080808;
    background: #c0c0c0;
}
.resp-menubtn,
#resp-header .resp-cartbtn {
    display: block;
    border: none;
    float: right;
    background: none;
    background-image: url('img/top-menubtn.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 28px;
    margin-right: 15px;
    text-indent: -1000px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
}
#resp-header .resp-menubtn {
    margin-top: 3px;
    margin-right: 3px;
}
#resp-header .resp-menubtn.opened {
    background-image: url('img/top-menubtn-h.png');
}
#resp-header .resp-cartbtn {
    background-image: url('img/top-cartbtn.png');
}
#resp-header .resp-benefitbtn {
    border: none;
    height: 31px;
    line-height: 31px;
    border-radius: 3px;
    display: block;
    float: right;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    clear: right;
    background-color: #696969;
    text-transform: uppercase;
    padding: 0 8px;
    margin-top: 13px;
    font-weight: bold;
    width: 55%;
    letter-spacing: 1px;
    text-align: center;
}
#resp-kwclose {
    display: none;
    background: #6a6a6a url('img/close.png') 15px center no-repeat;
    color: #ffffff;
    padding: 7px 15px 7px 40px;
    border-radius: 3px;
    text-decoration: none;
    margin: 0 auto 10px auto;
    width: 40px;
}
#keywords_content {
    min-width: 200px !important;
    padding: 0 !important;
}
#resp-kwlist {
    display: none;
}
#resp-license-details {
    display: none;
    margin-top: 20px;
}
#resp-license-details > span {
    display: block;
    line-height: 32px;
    text-align: center;
    background-color: #a9a9a9;
    font-size: 16px;
    letter-spacing: 2px;
    color: #ffffff;
    padding-top: 14px;
    padding-bottom: 14px;
}
#resp-license-details > table {
    padding: 20px 0 0;
    width: 100%;
    font-size: 14px;
}
#resp-license-details > table th {
    text-align: left;
    color: #000000;
    padding: 3px 20px;
}
#resp-license-details > table td {
    color: #808080;
    padding: 3px 0 3px 20px;
}
#keywords_wrapper #keywords_header {
    display: none;
}
.tostartpricing {
    text-align: center;
    padding: 10px 0;
    padding-left: 20px !important;
    background-color: #e8e8e8;
    color: #808080;
    margin-bottom: 20px;
    font-size: 14px;
}
.tostartpricing a {
    cursor: pointer;
}
.arrow.resp {
    display: none;
    padding-bottom: 15px;
}
.arrow.resp > span {
    clear: both;
    float: none;
    display: block;
    width: 0;
    height: 0;
}
#similar-images {
    padding: 12px 0;
}
#similar-images ul {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#similar-images ul li {
    display: inline;
    width: 25%;
    float: left;
    margin: 8px 0;
    padding: 0;
}
#similar-images ul li label {
    display: inline-block;
}

/* content */
#content .home-content .in.c > div,
#content .home-content div.pick-more-keywords {
    margin-top: 10px !important;
}
#content .home-content .in.c > div > a,
#content .home-content div.pick-more-keywords > a {
    cursor: pointer;
    position: relative;
    top: 10px !important;
}
#content .home-content ul.country li a {
    line-height: 20px;
    font-size: 13px;
}
#content .home-info p a {
    color: #696969;
    text-decoration: none;
}
#content .home-desc h1 {
    color: #686868;
    line-height: 34px;
    -webkit-text-rendering: auto;
}
#content .home-text > * {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
#content .home-text .item .desc h2 {
	width: 200px;
    width: auto;
    margin-right: 0;
    padding: 0 20px;
    font-size: 18px;
}

#content .home-text .item .desc p,
#content .home-text .item > p {
    font-size: 14px;
}

#content .home-text .item .desc p {
	box-sizing: border-box;
    width: auto;
    height: 33px;
    line-height: 33px;
    float: right;
    padding: 0 20px;
    border-color: #e0e0e0;
}

/* content-in */
#content.search .content-in .header {
    padding: 20px 0;
    height: auto;
}
#content.search .content-in .header.c h1 {
    white-space: nowrap;
}
#content .content-in .header span {
    padding-right: 0;
}
#content .content-in .header span.resp,
#content .content-in .header span.resp span {
    float: none;
    padding: 0;
    line-height: inherit;
    color: inherit;
    font-size: inherit;
}
#content .content-in .header .item label span {
    padding: 0;
    line-height: normal;
    display: inline;
    float: none;
    font-size: inherit;

}
#content .content-in .home-info,
#content .content-in .home-text {
    display: none;
    clear: both;
}
#content .content-in .home-info p {
    line-height: 40px;
}

/* header */
#header .top-menu > li > a.smart-search {
    border: 1px solid #B0B0B0;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    display: block;
    float: left;
    color: #A0A0A0 !important;
    text-decoration: none;
    font-size: 14px;
    width: auto;
    text-align: center;
    background: linear-gradient(#FFF, #F0F0F0) repeat scroll 0% 0% transparent;
    padding: 2px 5px;
    margin-top: -9px;
}
#keywords_wrapper #keywords_header_right > a.gray2 {
    display: inline-block;
    padding-right: 10px;
}
#publish_start_date_forinline_display.hasDatepicker {
    height: auto;
}
#publish_start_date_forinline_display.hasDatepicker .ui-datepicker-inline {
    clear: both;
    width: 280px;
    margin: 15px 0 10px auto;
    padding: 1px;
}
#publish_start_date_forinline_display.hasDatepicker .ui-datepicker-inline .ui-state-active {
    background: -webkit-linear-gradient(#7FCBFF, #37A5EF);
    background: -o-linear-gradient(#7FCBFF, #37A5EF);
    background: -moz-linear-gradient(#7FCBFF, #37A5EF);
    background: linear-gradient(#7FCBFF, #37A5EF);
}
#publish_start_date_forinline_display.hasDatepicker .ui-datepicker-inline td > a,
#publish_start_date_forinline_display.hasDatepicker .ui-datepicker-inline th > a,
#publish_start_date_forinline_display.hasDatepicker .ui-datepicker-title,
#publish_start_date_forinline_display.hasDatepicker .ui-datepicker-prev,
#publish_start_date_forinline_display.hasDatepicker .ui-datepicker-next {
    height: 25px;
    line-height: 25px;
    text-align: center;
}
div.search .c form > div button {
    float: none;
    position: relative;
    margin: 8px auto 0;
    width: 180px;
}
