#header a.logo {
    top: 45px;
}
#header .top-menu li a {
    font-size: 13px;
}
#header .menu {
    top: 49px;
}
/*#content {
    padding-bottom: 20px;
}*/
#content .home-desc .search {
    border: solid #dbdbdb 1px;
    border-radius: 3px;
    width: 285px;
    padding: 3px;
}
#content .home-desc .search input {
    width: 240px;
    border: none;
}
#content .home-desc .search button {
    width: 25px;
    height: 26px;
    font-size: 0;
    border: none;
    background: #ffffff url('img/search.png') no-repeat center center;
}
#content .home-desc .search button:hover {
    background: #ffffff url('img/search.png') no-repeat center center;
}
#content .home-content {
    padding: 20px 0;
}
#content .home-content .in {
   padding-left: 20px;
   padding-right: 20px;
   background: none;
}
#content .content-in .header {
	padding-right: 20px;
    border-radius: 0;
}
#page #content .content-in .header form {
    display: block;
}
#page #content .content-in .header * {
    font-size: 14px;
    white-space: nowrap;
}
#content.search .content-in .header h1 {
    display: none;
}
#content .content-in .header select {
    padding-top: 5px;
    font-size: 14px;
    vertical-align: baseline;
}
#content .content-in .header select.small {
    width: auto;
    padding-right: 1px;
}
#content .content-in .header .item label {
    vertical-align: middle;
}
#content .content-in .header .resp-search input
{
    margin-left: 3px;
    padding: 0 0 0 3px;
    height: 30px !important;
    float: left;
    font-size: 14px;
}
#content .content-in .content {
    /*padding-top: 20px;*/
}
#content .content-in .content {
    padding: 20px;
}
/*#content .content-in .content,*/
/*.fluid #content .content-in .content,*/
/*#page.fluid #content .content-in > .header.c + .content,*/
#content .content-in > .header.c + .content {
    padding-top: 0;
}
#resp-subpagebenefits {
    clear: both;
}
#footer .in > * {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
#footer .in > .box.second,
#footer #footer-background {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#footer {
    background-image: none;
    height: 410px;
    padding: 0;
}
#footer-background {
    position: absolute;
    height: 40px;
    z-index: -1000;
    width: 100%;
    background: none repeat scroll 0% 0% rgb(193, 193, 193);
}
#footer .in.fluid {
    margin: 0 auto;
}
#page.fluid #content .content-in .header > *
{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
#page.fluid #content .content-in .header > .item,
#page.fluid #content .content-in .header > form {
    float: right;
    margin: 0;
    padding: 15px 0 0 15px !important;
    width: 15%;
}
#page.fluid #content .content-in .header > .resp-search {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.image-content.search p.info {
	height: auto;
    padding: 20px 0;
}
.image-content .filter ul li {
	width: 18%;
    padding: 0 24px;
    margin: 0 15px 15px 0;
    height: auto;
}
#footer .in.in980,
#footer .in.fluid {
    width: 980px;
    height: 410px;
    min-width: 280px;
    padding-left: 0;
    padding-right: 0;
}
#footer .in .box.first,
#footer .in .box.last,
#footer .in .box.second {
    text-align: left;
}
#footer .in .box.first {
    width: 25%;
}
#footer .in .box.second {
    width: 38%;
}
#footer .in .box.last {
    width: 23%;
}
#footer .in .box ul {
    padding-bottom: 20px;
}
#footer .in .box ul li {
    border-bottom: solid #bbbbbb 1px;
}
#footer .in .box ul li:last-child {
    border-bottom: none;
}
#footer .in .box ul li a {
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    display: block;
    font-size: 14px;
}
#footer .in .box ul li img {
    display: none;
}
#footer .in #logo_left,
#footer .in #logo_right {
    padding-top: 4px;
    padding-bottom: 4px;
    height: auto;
    background: url(img/dottedborder.png) left bottom repeat-x;
    padding: 10px 0 0 0;
    height: 80px;
}
#footer .in #logo_left,
#footer .in.in980 #logo_left {
	clear: left;
    border-top: 1px solid #e0e0e0;
    padding-top: 35px;
    padding-bottom: 13px;
}
#footer .in #logo_left,
#footer .in.in980 #logo_left,
#footer .in #logo_right,
#footer .in.in980 #logo_right {
    position: static;
    float: none;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px dotted #e0e0e0;
    background-image: none;
}
#footer .in #logo_left > img {
    float: right;
    margin-top: 20px;
}
#footer .in #logo_left a > img {
    width: auto;
    height: auto;
    margin-right: 0 !important;
}
#footer .in #logo_right div {
    margin-bottom: 5px !important;
}
#footer .in #logo_right > img {
    float: left;
    margin-right: 0 !important;
}
#footer .in #logo_right > img + img {
    float: right;
    margin-bottom: 0;
    position: relative;
    top: -10px;
}
#footer .in p {
    position: static;
    left: 0 !important;
    margin: 20px 0 0;
    padding-bottom: 20px;
    padding-left: 15px;
    font-size: 12px;
}
#content .home-content ul.country > div.pick-more-keywords {
    display: block;
    background-color: #bbbbbb;
    position: static !important;
    border-radius: 4px;
    padding: 0 10px;
    margin-left: -1px; /* jpf-2015 */
    margin-right: -127%;
    /*background: -webkit-linear-gradient(#FFFFFF, #F0F0F0);
    background: -o-linear-gradient(#FFFFFF, #F0F0F0);*/
    background: -moz-linear-gradient(#FFFFFF, #F0F0F0);
    background: linear-gradient(#FFFFFF, #F0F0F0);
    border: 1px solid #B0B0B0;
}
#content .home-content ul.country > div > a {
    line-height: 40px;
    text-align: left;
    display: block;
    top: 0 !important;
    color: #A0A0A0;
    background: url('img/more.png') no-repeat right center;
    text-decoration: none;
}
#content .home-content ul.country > div > a:hover {
    text-decoration: none;
}
#content .home-content ul.country > div > a > span {
    display: inline;
    font-style: italic;
}
#content .home-content ul > div {
    display: none;
}
#content .home-info p a,
#page.fluid #content .home-info p a {
    color: #696969;
}
#content .home-desc h1 {
    color: #686868;
    line-height: 34px;
    -webkit-text-rendering: auto;
}
#content .content-in .content.general_content > p {
    margin: 10px 0;
    font-size: 13px;
}
#content .content-in .content.general_content > p:first-child {
    text-align: justify;
    margin: 0 0 20px;
}
#content .content-in .rightcol {
    font-size: 13px;
    font-size: 14px;
    /*padding-bottom: 0 !important;*/
}
#content .content-in .content .rightcol {
	width: 77%;
}
.fluid #content .content-in .rightcol {
    float: right;
    width: 80%;
    width: 77%;
    padding-left: 0;
}
.fluid #content .content-in .rightcol .head {
    padding: 5px 0 5px 4%;
    height: auto;
}
.fluid #content .content-in .rightcol .head select {
    padding-top: 5px;
}
#content .content-in .rightcol .head {
    padding: 5px 20px 4px;
    background-color: #f5f5f5;
    margin-left: 0;
    height: auto;
}
.fluid #content .content-in .rightcol .head,
#content .content-in .rightcol .head {
	padding-bottom: 5px;
	height: 40px;
}
#content .content-in .cart .rightcol {
    width: 320px !important;
}
#content .content-in .cart .rightcol .section .head {
    height: auto;
    margin: 0;
    padding-bottom: 4px;
}
#content .cart .rightcol .section-in {
    padding: 20px;
}
#content .cart .rightcol .section-in table tr.space td,
#content .cart .rightcol .section-in table tr.space th {
    padding: 0;
}
#content .cart .rightcol .section-in table tr.space:first-child td,
#content .cart .rightcol .section-in table tr.space:first-child th {
    padding: 0 0 20px;
}
#content .content-in .content .rightcol > form > div:last-child {
    display: none;
}
.rightcol br {
    display: none;
}
.rightcol div br,
.rightcol .section .section-in br,
.rightcol .my-account-lightbox-categories br {
    display: inline;
}
#content .content-in .leftcol {
    width: 20% !important;
    /*min-width: 100px;*/
    display: block;
    /*margin-top: 20px;*/
    font-size: 14px;
}
#content .content-in .leftcol .head {
    height: auto;
    padding: 0;
}
#content .content-in .leftcol .head a {
    background-color: #c0c0c0;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 5px 0;
}
#content .content-in .cart .leftcol,
    #content .cart .total-price-bottom .left {
    width: 63.6% !important;
    margin-top: 0;
    margin-left: 0;
}
#content .cart .leftcol .item {
    padding: 0 20px 20px;
    text-align: center;
    font-size: 14px;
}
#content .cart .leftcol .item input {
	margin: 0;
    width: 55%;
}
#content .cart .leftcol .item select {
	margin: 0 0 0 4px;
    width: 58.5%;
}
#content .cart .leftcol .item label {
	text-align: right;
}
#content .cart .leftcol .item textarea {
	display: block;
    padding: 1%;
    line-height: 18px;
    width: 91%;
    margin: 4% auto;
    text-align: left;
    float: none;
}
#content .cart .leftcol .section input.licence {
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
}
#content .cart .leftcol .section .section {
    border: none;
    margin-bottom: 0;
}
#content .cart .leftcol .section .head,
#content .content-in .leftcol .section .head {
    padding-top: 5px;
    padding-bottom: 4px;
    height: auto;
}
#content .cart .payment #place_your_order {
    width: 200px;
    padding: 10px 0;
    height: auto !important;
    line-height: 38px;
    font-size: 17px !important;
}
#content .cart .total-price {
    padding: 0 0 20px;
}
#content .cart .total-price p {
    margin-top: 9px;
    padding-right: 0;
}
#content .cart .total-price p.required {
    float: none;
    margin-top: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
}
#content .cart .total-price-bottom {
    clear: both;
    padding-top: 0;
}
#content .content-in .content .rightcol > .oneitem {
    padding-left: 20px;
    padding-right: 20px;
}
.oneitem:last-child {
    padding-bottom: 0;
}
#content .content-in .content .cart .rightcol > * {
    padding: 0;
}
#content .content-in .rightcol .item {
/*#content .content-in .rightcol .item.last {*/
    width: 80%;
    margin: 0 auto;
    padding: 0 0 20px 0;
}
#content .content-in .rightcol .head-3 {
    padding: 5px 0;
}
#content .content-in .rightcol .head-3 a,
#content .content-in .rightcol .invoices .item div {
    width: 19% !important;
    padding: 0 !important;
    text-align: center;
}
#content .content-in .content .rightcol .invoices {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#content .content-in .rightcol input#login_password_md5 + input + .item {
	width: auto;
}
#content .content-in .rightcol #form_login .item:first-child {
    text-align: center;
}
#content .content-in .rightcol .item label,
#content .content-in .rightcol .item input,
#content .content-in .rightcol .item select,
#content .content-in .rightcol .item textarea {
    font-size: 13px;
    float: none;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}
#content .content-in .rightcol .item input,
#content .content-in .rightcol .item select,
#content .content-in .rightcol .item textarea {
    width: 65%;
}
#content .content-in .rightcol .item input {
    padding-left: 1%;
    padding-right: 1%;
}
#content .content-in .rightcol .item select {
    left: 0;
    width: 67.3%;
}
#content .content-in .rightcol .item textarea {
    padding: 1%;
    line-height: 18px;
}
#content .content-in .rightcol .item span {
    display: block;
    width: 71.5%;
    text-align: left;
    margin-left: auto;
    font-size: 14px;
}
#content .content-in .rightcol button.new,
#content .content-in .rightcol button.newsoft {
    display: block;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto;
    height: 40px;
    width: 180px !important;
}
#content .content-in .rightcol button.new {
    margin-bottom: 0;
}
#content .content-in .content.general_content > .rightcol {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0 !important;
}
#content .content-in .general_content .rightcol {
    width: auto !important;
    float: none;
}
#content .content-in .content .rightcol input,
#content .content-in .content .rightcol select {
    height: 30px;
}
#content .content-in .content .rightcol > #form_register {
    border-bottom: none;
    margin: 20px 0;
}
#content .content-in .content .rightcol > form ~ #form_register {
    margin-bottom: 0;
}
#content .content-in .content .rightcol > .form_contact {
    margin: 20px 0;
}
#content .content-in .rightcol form#form_register .item select {
    padding-top: 5px;
    vertical-align: baseline;
}
#content .content-in .rightcol form#form_register .item select#company_type {
    /*margin-left: -4px;*/
}
#content .content-in .content .rightcol input#login_password {
    /*margin-left: -4px;*/
}
#content .content-in .rightcol .email-content {
    width: auto;
    /*padding-bottom: 0;*/
    margin-bottom: 20px;
}
#content .content-in .rightcol .email-item ul,
#content .content-in .rightcol .email-item ul li {
    width: auto;
}
#content .content-in .rightcol .email-item ul li label {
	width: 96%;
	float: right;
	padding-top: 7px;
}
#content .content-in .rightcol .item a {
    color: #5187B6;
    text-decoration: underline;
}
form#form_login div.item a.forgotpassword,
#content .content-in .rightcol .item .forgotpassword {
    color: #5187B6;
    display: block;
    margin: 20px 0 0 0;
    text-decoration: underline;
    text-align: center;
}
#content .cart a.button-blue,
#content .cart a.button-grey,
#content .cart a.button-grey.alignright {
    width: 200px;
    padding: 5px 0;
    text-align: center;
    display: block;
}
#content .cart a.button-blue,
#content .cart a.button-grey {
    float: none;
    height: 30px;
    font-size: 15px;
    clear: none;
}
#content .cart .total-price-bottom .left {
    padding: 0;
    float: none !important;
    text-align: center;
}
#content .cart #cart_status_bottom.total-price-bottom .left {
	width: auto !important;
	padding-top: 8px;
    float: left !important;
}
#content .cart .total-price-bottom .left a {
    display: inline-block;
    float: none;
    margin: 0 auto 0;
}
#content .cart .total-price-bottom .left a.button-blue {
	margin-bottom: 20px;
}
#content .cart .total-price-bottom .left br {
    display: none;
}
.image-list {
    text-align: center;
}
.image-list li {
    display: inline-block;
    float: none;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.image-list li > p {
    min-height: 57px !important;
}
.image-list li .cs_addtocart {
    width: inherit;
    position: absolute;
    margin-top: 5px;
    padding: 3px 0 !important;
}
.lightbox {
    padding: 20px 0;
}
.lightbox .header {
    height: auto;
    padding-bottom: 20px;
}
.lightbox .header a.logo {
    position: relative;
}
.lightbox .header .desc {
    position: static;
    clear: both;
    width: 100%;
    margin-top: 15px;
}
.lightbox .header .arrow {
    float: right;
    position: static;
    margin: 10px 0 0 10px;
}
.lightbox .header .arrow a {
    display: block !important;
    height: 32px;
    line-height: 32px;
}
.lightbox .pricing .rightcol ul > li,
.lightbox .pricing .rightcol ul > li label {
    width: auto !important;
    display: inline-block;
}
.lightbox .pricing .rightcol .buttons {
    margin: 0 auto;
    padding: 20px 0 0;
    clear: both;
}
.lightbox-category a.close {
    background-position: 50% 50%;
    width: 32px;
    height: 32px;
    top: 5px;
    right: 5px;
}
.lightbox #popup {
    display: block !important;
    position: static !important;
    width: 460px !important;
    left: 0 !important;
    top: 0 !important;
    margin: 20px auto;
    padding: 20px !important;
}
.lightbox .preview {
    font-size: 14px;
}
.lightbox .preview .rightcol {
    /*padding: 20px 0 0;*/
    padding: 0;
    border-top: none;
}
.lightbox .preview .rightcol p.c {
    display: block;
}
.lightbox .preview .rightcol p.button-info {
    margin-top: 20px;
    padding-top: 0;
}
.lightbox .preview .rightcol a.button-blue {
    padding: 5px 0;
    width: 200px;
}
.lightbox .preview .rightcol ul li.second span a {
    top: 14px !important;
    width: 180px;
}
.lightbox .preview .leftcol.fullwidth > br,
.lightbox .preview .leftcol.fullwidth + .rightcol {
    display: none;
}
.lightbox .preview .leftcol .image {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    line-height: 500px;
}
.lightbox .preview .leftcol .desc {
    width: 152%;
}
.lightbox .preview .leftcol .desc table tr td {
    width: 33%;
}
.lightbox .preview .leftcol .desc table tr th span {
    display: inline-block;
    border-radius: 3px;
    color: #ffffff;
    margin-right: 0 !important;
}
.lightbox .preview .leftcol .desc table tr th span a {
    color: #404040;
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 0 10px !important;
    border-radius: 4px;
    text-decoration: none;
    /*background: -webkit-linear-gradient(#FFFFFF, #F0F0F0);
    background: -o-linear-gradient(#FFFFFF, #F0F0F0);*/
    background: -moz-linear-gradient(#FFFFFF, #F0F0F0);
    background: linear-gradient(#FFFFFF, #F0F0F0);
    border: solid #babcbe 1px;
    margin: 10px 10px 0 0 !important;
    cursor: pointer;
}
.lightbox .preview .c .leftcol.text.fullwidth h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.lightbox .preview .c .leftcol.text > h2 + p + p {
    margin: 20px 0;
}
.lightbox > .preview > .c > .leftcol.text.fullwidth > p > a > span {
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
}
.lightbox .preview .c .leftcol.text p > a {
    padding: 5px 0;
    display: inline-block;
}
.lightbox .preview .search {
    padding-bottom: 0;
}
.lightbox .preview .search .head {
    padding-left: 20px;
    padding-right: 20px;
}
.lightbox .preview button {
    padding: 5px 0;
    width: 112px;
    height: auto;
}

/* other */
div.my-account-lightbox-categories {
    text-align: center;
}
div.my-account-lightbox-categories > form > input#category_name {
    width: 85% !important;
}
div#div_existing_categories > p > b {
    display: inline-block;
    width: 15%;
    text-align: left;
}
