.rightcol div br,
.rightcol .section .section-in br,
.rightcol .my-account-lightbox-categories br {
    display: inline;
}
.rightcol br {
    display: none;
}
.news_post {
    margin-top: 20px;
    padding-bottom: 0;
}
.news_post:first-child {
	margin-top: 0 ;
}

#page.fluid #content .content-in .header > *,
#content .content-in .content .rightcol > .oneitem,
#content .content-in .rightcol #form_login .item:first-child,
#content .home-content > *,
.lightbox .preview .search .head,
.lightbox .preview .leftcol .desc > *,
#footer .in > * {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

/* .. */
#header a.logo {
    top: 45px;
}
#header .top-menu li a {
    font-size: 13px;
}
#header .menu {
    top: 49px;
}
#content .home-desc .search {
    border: solid #dbdbdb 1px;
    border-radius: 3px;
    width: 285px;
    padding: 3px;
}
#content .home-desc .search input {
    width: 240px;
    border: none;
}
#content .home-desc .search button {
    width: 25px;
    height: 26px;
    font-size: 0;
    border: none;
    background: #ffffff url('img/search.png') no-repeat center center;
}
#content .home-desc .search button:hover {
    background: #ffffff url('img/search.png') no-repeat center center;
}
#content .home-content {
    padding: 20px 0;
}
#content .content-in .header {
	padding-right: 20px;
    /*margin-bottom: 20px;*/
    margin-bottom: 0;
    border-radius: 0;
}
#content .content-in .header.c {
	margin-bottom: 0;
}
#page #content .content-in .header form {
    display: block;
}
#page #content .content-in .header * {
    font-size: 14px;
    white-space: nowrap;
}
#content.search .content-in .header h1 {
    display: none;
}
#content .content-in .header select {
    /*padding-top: 5px;*/
    /*vertical-align: baseline;*/
}
#content .content-in .header select.small {
    width: auto;
    padding-right: 1px;
}
#content .content-in .header .item label {
    vertical-align: middle;
}
#content .content-in .header .resp-search input {
    margin-left: 3px;
    float: left;
}
#page.fluid #content.search .content {
    /*padding-top: 0;*/
}
#resp-subpagebenefits {
    clear: both;
}

/* footer */
#footer {
    background-image: none;
    height: 410px;
    padding: 0;
}
#footer .in.fluid {
    margin: 0 auto;
}
#footer .in.in980,
#footer .in.fluid {
    width: 980px;
    height: 410px;
    min-width: 280px;
    padding-left: 0;
    padding-right: 0;
}
#footer .in .box {
    text-align: left !important;
}
#footer .in .box.first {
    width: 25%;
}
#footer .in .box.second {
    width: 38%;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#footer .in .box.last {
    width: 23%;
}
#footer .in .box ul {
    padding-bottom: 20px;
}
#footer .in .box ul li {
    border-bottom: solid #bbbbbb 1px;
}
#footer .in .box ul li:last-child {
    border-bottom: none;
}
#footer .in .box ul li a {
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    display: block;
    font-size: 14px;
}
#footer .in .box ul li img {
    display: none;
}
#footer .in #logo_left,
#footer .in.in980 #logo_left,
#footer .in #logo_right,
#footer .in.in980 #logo_right {
    position: static;
    float: none;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px dotted #e0e0e0;
    background-image: none;
}
#footer .in #logo_left,
#footer .in #logo_right {
    height: auto;
    padding: 10px 0 0 0;
    height: 80px;
}
#footer .in #logo_left,
#footer .in.in980 #logo_left {
	clear: left;
    border-top: 1px solid #e0e0e0;
    padding-top: 35px;
    padding-bottom: 13px;
}
#footer .in #logo_left > img {
    float: right;
    margin-top: 20px;
}
#footer .in #logo_left a > img {
    width: auto;
    height: auto;
    margin-right: 0 !important;
}
#footer .in #logo_right div {
    margin-bottom: 5px !important;
}
#footer .in #logo_right > img {
    float: left;
    margin-right: 0 !important;
}
#footer .in #logo_right > img + img {
    float: right;
    margin-bottom: 0;
    position: relative;
    top: -10px;
}
#footer .in p {
    position: static;
    left: 0 !important;
    margin: 20px 0 0;
    padding-bottom: 20px;
    padding-left: 15px;
    font-size: 12px;
}
#footer-background {
    position: absolute;
    height: 40px;
    z-index: -1000;
    width: 100%;
    background: none repeat scroll 0% 0% rgb(193, 193, 193);
}

/**/
#content .home-content ul.country > div.pick-more-keywords {
    display: block;
    background-color: #bbbbbb;
    position: static !important;
    border-radius: 4px;
    padding: 0 10px;
    margin-left: -1px; /* jpf-2015 */
    margin-right: -127%;
    background: -webkit-linear-gradient(#FFFFFF, #F0F0F0);
    background: -o-linear-gradient(#FFFFFF, #F0F0F0);
    background: -moz-linear-gradient(#FFFFFF, #F0F0F0);
    background: linear-gradient(#FFFFFF, #F0F0F0);
    border: 1px solid #B0B0B0;
}
#content .home-content ul.country > div > a {
    line-height: 40px;
    text-align: left;
    display: block;
    top: 0 !important;
    color: #A0A0A0;
    background: url('img/more.png') no-repeat right center;
    text-decoration: none;
}
#content .home-content ul.country > div > a:hover {
    text-decoration: none;
}
#content .home-content ul.country > div > a > span {
    display: inline;
    font-style: italic;
}
#content .home-content ul > div {
    display: none;
}
#content .home-info p a,
#page.fluid #content .home-info p a {
    color: #696969;
}
#content .home-desc h1 {
    color: #686868;
    line-height: 34px;
    -webkit-text-rendering: auto;
}

/* content - in */
#content .content-in .content.general_content > p {
    margin: 10px 0;
    font-size: 13px;
}
#content .content-in .content.general_content .rightcol > div > p {
	padding: 0 20%;
}
#content .content-in .content.general_content > p:first-child {
    text-align: justify;
    margin: 0 0 20px;
}
#content .content-in .rightcol {
    font-size: 14px;
}
#content .content-in .rightcol .purchase-item .desc,
#content .content-in .rightcol .purchase-item table tr td,
#content .content-in .rightcol .purchase-item table tr th {
    font-size: 13px;

}
#content .content-in .rightcol .purchase-item .desc {
    text-align: center;
}
#content .content-in .content .rightcol {
	width: 77.5% !important; /* -> 1140 */
}
#content .content-in .rightcol {
	width: 760px;
}
#content .content-in .rightcol .purchase-item table + div {
	/*width: auto !important;*/
    padding-left: 0 !important;
}
#content .content-in .rightcol .purchase-item table + div p + p span {
	margin-left: 3px;
	white-space: nowrap;
}
#content .content-in .rightcol .purchase-item table + div p + p a.link {
	display: block;
    text-align: right;
}
#content .content-in .rightcol .purchase-item table + div p input:last-child {
    display: none;
}
#content .content-in .rightcol .purchase-item table + div div {
    display: none;
}
#content .content-in .rightcol .purchase-item table + div div + div {
	display: block;
}
#page.fluid #content .content-in .header > .item,
#page.fluid #content .content-in .header > form {
    float: right;
    margin: 0;
    padding: 15px 0 0 15px !important;
    width: 15%;
}
#page.fluid #content .content-in .header > .resp-search {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.fluid #content .content-in .rightcol {
    float: right;
    width: 80%;
    width: 77%;
    padding-left: 0;
}
.fluid #content .content-in .rightcol .head {
    padding-left: 4%;
    height: auto;
}
#content .content-in .rightcol .head {
	height: auto;
    background-color: #f5f5f5;
    margin-left: 0;
}

/* cart */
#content .content-in .cart .rightcol {
    width: 320px !important;
}
#content .content-in .cart .rightcol .section .head {
    height: auto;
    margin: 0;
}
#content .cart .rightcol .section-in {
    padding: 20px;
}
#content .cart .rightcol .section-in table tr.space td,
#content .cart .rightcol .section-in table tr.space th {
    padding: 0;
}
#content .cart .rightcol .section-in table tr.space:first-child td,
#content .cart .rightcol .section-in table tr.space:first-child th {
    padding: 0 0 20px;
}
#content .content-in .content .rightcol > form > div:last-child {
    display: none;
}
#content .content-in .leftcol {
    width: 20% !important;
    display: block;
    font-size: 14px;
}
#content .content-in .leftcol .head,
#content .content-in .leftcol .head a {
    height: 50px;
    line-height: 50px;
    padding: 0;
}
#content .content-in .leftcol .head {
    font-size: 16px;
}
#content .content-in .leftcol .head a {
	display: block;
    background-color: #c0c0c0;
    text-align: center;
}
#content .content-in .cart .leftcol,
#content .cart .total-price-bottom .left {
    width: 63.6% !important;
    margin-top: 0;
    margin-left: 0;
}

#content .content-in .rightcol .head,
.fluid #content .content-in .rightcol .head,
#content .content-in .leftcol .section .head,
#content .cart .leftcol .section .head,
#content .content-in .cart .rightcol .section .head {
    padding: 0 20px;
    line-height: 49px;
    height: auto;
}
#content .content-in .rightcol .head,
.fluid #content .content-in .rightcol .head {
    line-height: 50px;
}
#content .content-in .rightcol .head-2 {
    height: 50px;
}
#content .cart .leftcol .section label.licence {
    float: left;
}
#content .cart .leftcol .section input.licence {
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
}
#content .cart .leftcol .section .section {
    border: none;
}
#content .cart .leftcol .item {
	height: 30px;
    margin-bottom: 15px;
    padding: 0 12%;
    text-align: center;
    font-size: 14px;
}
#content .cart .leftcol .section .section + .section .item {
	height:auto;
}
#content .cart .leftcol .item label {
	width: auto;
    float: left;
    text-align: right;
}
#content .cart .leftcol .item input {
	width: 60%;
	margin: 0;
	float: right;
}
#content .cart .leftcol .item select {
	position: static;
	width: 60%;
	float: right;
	margin: 0;
}
#content .cart .leftcol .item textarea {
	width: 100%;
    line-height: 18px;
    margin: 0 auto;
    text-align: left;
    float: none;
}
#content .cart .payment #place_your_order {
    width: 200px;
    padding: 10px 0;
    height: auto !important;
    line-height: 38px;
    font-size: 17px !important;
}
#content .cart .total-price {
    padding: 0 0 20px;
}
#content .cart .total-price p {
    margin-top: 9px;
    padding-right: 0;
}
#content .cart .total-price p.required {
    float: none;
    margin-top: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
}
#content .cart .total-price-bottom {
    clear: both;
    padding-top: 0;
}
.oneitem:last-child {
    padding-bottom: 0;
}
#content .content-in .content .cart .rightcol > * {
    padding: 0;
}
#content .content-in .rightcol .item {
    padding: 0 20% 20px;
}
#content .content-in .rightcol .invoices .item {
	padding: 0 !important;
}
#content .content-in .rightcol .head-3 {
    padding: 5px 0;
}
#content .content-in .rightcol .invoices .item-detail {
    margin-left: 4%;
    margin-left: 20px !important;
    margin-right: 20px !important;
    width: auto !important;
    background-image: none;
    background-color: #f8f8f8;
    min-height: 0;
    position: relative;
}
#content .content-in .rightcol .invoices .item-detail .left {
    width: 30%;
    background-color: #e8e8e8;
    padding: 2%;
    position: absolute;
    float: none;
    top: 0;
    bottom: 0;
}
#content .content-in .rightcol .invoices .item-detail .right {
    padding: 2%;
    width: 62%;
}
#content .content-in .rightcol .head-3 a,
#content .content-in .rightcol .invoices .item div {
    width: 19% !important;
    padding: 0 !important;
    text-align: center;
}
#content .content-in .content .rightcol .invoices {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#content .content-in .rightcol input#login_password_md5 + input + .item {
	width: auto;
}
#content .content-in .rightcol #form_login .item:first-child {
    text-align: center;
}
#content .content-in .rightcol .item label,
#content .content-in .rightcol .item input,
#content .content-in .rightcol .item select,
#content .content-in .rightcol .item textarea {
	width: 100%;
    float: none;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}
#content .content-in .rightcol .item select {
	position: static;
}
#content .content-in .rightcol .item textarea {
    line-height: 18px;
}
#content .content-in .rightcol .item span {
    display: block;
    text-align: left;
    margin-left: auto;
    font-size: 14px;
}
#content .content-in .rightcol button.new,
#content .content-in .rightcol button.newsoft {
    display: block;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto;
    height: 40px;
    width: 180px !important;
}
#content .content-in .rightcol button.new {
    margin-bottom: 0;
}
#content .content-in .content.general_content > .rightcol {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0 !important;
}
#content .content-in .general_content .rightcol {
    width: auto !important;
    float: none;
}
#content .content-in .content .rightcol > #form_register {
    border-bottom: none;
}
#content .content-in .content .rightcol > .head:first-child + #form_register {
    margin-bottom: 20px;
}
#content .content-in .content .rightcol > .form_contact {
    margin-bottom: 20px;
    margin-bottom: 15px;
}
#password + br,
#content .content-in .rightcol form#form_register #password + label,
#content .content-in .rightcol form#form_register #password + br + label {
    display: none;
}
#content .content-in .rightcol .email-content {
    width: auto;
    margin-bottom: 20px;
}
#content .content-in .rightcol .email-item ul,
#content .content-in .rightcol .email-item ul li {
    width: auto;
}
#content .content-in .rightcol .email-item ul li {
	margin-bottom: 35px;
}
#content .content-in .rightcol .email-item ul li label {
	padding: 0;
	float: right;
	width: 94%;
}
#content .content-in .rightcol .email-item ul li input {
	height: inherit !important;
}
#content .content-in .rightcol .item a {
    color: #5187B6;
    text-decoration: underline;
}
form#form_login div.item a.forgotpassword,
#content .content-in .rightcol .item .forgotpassword {
    color: #5187B6;
    display: block;
    margin: 20px 0 0 0;
    text-decoration: underline;
    text-align: center;
}
#content .cart a.button-blue,
#content .cart a.button-grey,
#content .cart a.button-grey.alignright {
    width: 200px;
    padding: 5px 0;
    text-align: center;
    display: block;
}
#content .cart a.button-blue,
#content .cart a.button-grey {
    float: none;
    height: 30px;
    font-size: 15px;
    clear: none;
}
#content .cart .total-price-bottom .left {
    padding: 0;
    float: none !important;
    text-align: center;
}
#content .cart #cart_status_bottom.total-price-bottom .left {
	width: auto !important;
	padding-top: 8px;
    float: left !important;
}
#content .cart .total-price-bottom .left a {
    display: inline-block;
    float: none;
    margin: 0 auto 0;
}
#content .cart .total-price-bottom .left a.button-blue {
	margin-bottom: 20px;
}
#content .cart .total-price-bottom .left br {
    display: none;
}

/* image-content */
.image-content {
    padding-bottom: 20px;
    position:relative;
}
.image-content.search {
    padding-bottom: 20px;
}
.image-content.search p.info {
    height: auto;
    padding: 0 0 20px;
}
.image-content a.top,
.image-content.search .arrow {
    position: static;
}
.image-content .filter ul li {
    width: 18%;
    padding: 0 24px;
    margin: 0 15px 15px 0;
    height: auto;
}
.image-list {/*lightbox.htm*/
    text-align: center;

}
.search .image-list {/*search(-filter).htm*/
    text-align: left;
}
.image-list li {
    display: inline-block;
    height: auto;
    float: none;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: top;
}
.search .image-list li {
	display: list-item;
    float: left;
    margin: 0 40px 40px 0;
}

/* image list */
.image-list li .pict {
    margin-bottom: 9px !important;
}
.image-list li p,
.image-list li p strong {
    font-size: 13px;
}
.image-list li p {
    min-height: 57px !important;
}
.image-list li .cs_addtocart {
    width: inherit;
    position: absolute;
    margin-top: 0;
    padding: 3px 0 !important;
}

/* lightbox */
.lightbox .header {
    height: auto;
    padding-bottom: 20px;
}
.lightbox .header a.logo {
    position: relative;
}
.lightbox .header .desc {
    position: static;
    clear: both;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-top: 8px;
}
.lightbox .header .arrow {
    float: right;
    position: static;
    margin-top: 5px;
}
.lightbox .header .arrow a {
    display: block !important;
    height: 32px;
    line-height: 32px;
}
.lightbox-category {
    width: 323px;
    height: 150px !important;
}
.lightbox-category a.close {
    width: 32px;
    height: 32px;
    background-position: 100% 0;
    background-size: 100%;
}
.lightbox-category input,
.lightbox-category select {
    width: 100%;
}
.lightbox-category button
/*< styles.css #content .content-in .rightcol button !*/ {
    top: 16px !important;
    height: 40px !important;
    line-height: 40px !important;
    float: none !important;
    margin: 0 auto;
    font-size: 16px !important;
}
.lightbox #popup {
    display: block !important;
    position: static !important;
    width: 460px !important;
    left: 0 !important;
    top: 0 !important;
    margin: 20px auto;
    padding: 20px !important;
}

/* lightbox - preview */
.lightbox .preview {
    font-size: 14px;
}
.lightbox .preview .rightcol {
	width: auto;
    border-top: none;
    padding: 0;
}
.lightbox .preview .rightcol p.c {
    display: block;
}
.lightbox .preview .rightcol p.button-info {
    margin-top: 20px;
    padding-top: 0;
}
.lightbox .preview .rightcol a.button-blue {
	width: 180px;
    height: 40px;
    line-height: 40px;
}
.lightbox .preview .rightcol ul li a {
    background-position: -180px 0px !important;
    padding-left: 50px;
    color: #a0a0a0;
    text-decoration: none;
    line-height: 40px;
}
.lightbox .preview .rightcol ul li a:hover {
    background-position: -180px -40px !important;
    color: #000000;
}
.lightbox .preview .rightcol ul li.second a {
    line-height: 30px;
}
.lightbox .preview .rightcol ul li.second a span {
    font-size: 12px;
}
.lightbox .preview .rightcol ul li.second span a {
    top: 18px !important;
    padding-left: 0;
    margin-left: 50px;
}
.lightbox .preview .leftcol.fullwidth > br,
.lightbox .preview .leftcol.fullwidth + .rightcol {
    display: none;
}
.lightbox .preview .leftcol .image {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    line-height: 500px;
}
.lightbox .preview .leftcol .desc {
    width: 152%;
}
.lightbox .preview .leftcol .desc table tr td {
    white-space: nowrap;
}
.lightbox .preview .leftcol .desc table tr th {
    padding-left: 30px;
}
.lightbox .preview .leftcol .desc table tr th span {
    display: inline-block;
    border-radius: 3px;
    color: #ffffff;
    margin-right: 0 !important;
}
.lightbox .preview .leftcol .desc table tr th span a {
    color: #404040;
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 0 10px !important;
    border-radius: 4px;
    text-decoration: none;
    background: -webkit-linear-gradient(#FFFFFF, #F0F0F0);
    background: -o-linear-gradient(#FFFFFF, #F0F0F0);
    background: -moz-linear-gradient(#FFFFFF, #F0F0F0);
    background: linear-gradient(#FFFFFF, #F0F0F0);
    border: solid #babcbe 1px;
    margin: 10px 10px 0 0 !important;
    cursor: pointer;
}
.lightbox .preview .c .leftcol.text.fullwidth h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.lightbox .preview .c .leftcol.text > h2 + p + p {
    margin: 20px 0;
}
.lightbox > .preview > .c > .leftcol.text.fullwidth > p > a > span {
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
}
.lightbox .preview .c .leftcol.text p > a {
    padding: 5px 0;
    display: inline-block;
}
.lightbox .preview .search {
    padding-bottom: 0;
}
.lightbox .preview button {
    padding: 5px 0;
    width: 112px;
    height: auto;
}

/* lightbox - pricing */
.lightbox .pricing .rightcol {
    width: 57%;
    font-size: 14px;
}
.lightbox .pricing .rightcol .item {
    height: 30px;
}
.lightbox .pricing .rightcol .item label,
.lightbox .pricing .rightcol .item input,
.lightbox .pricing .rightcol .item select,
.lightbox .pricing .rightcol .item div.description {
    display: block;
    width: 77%;
    text-align: left;
    font-size: 14px;
}
.lightbox .pricing .rightcol .item div.description {
    float: right;
    margin-right: 0;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.lightbox .pricing .rightcol .item label {
	width: auto;
    float: left;
    background: none;
}
.lightbox .pricing .rightcol .item input {
    margin-bottom: 15px;
    margin-right: 0 !important;
    float: right;
}
.lightbox .pricing .rightcol .item select {
	position: static;
    float: right;
}
.lightbox .pricing .rightcol > .info {
   clear: both;
   margin-right: 0;
}
.lightbox .pricing .rightcol .item.noheight {
    padding-bottom: 0;
}
.lightbox .pricing .rightcol .item ul {
    width: 77% !important;
    margin-left: auto;
    margin-right: auto !important;
    padding: 10px 5px 0;
    float: right !important;
}
.lightbox .pricing .rightcol ul > li,
.lightbox .pricing .rightcol ul > li label {
    width: auto !important;
}
.lightbox .pricing .rightcol .item.territories {
    height: auto !important;
}
.lightbox .pricing .rightcol .item.territories ul {
    height: 300px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.lightbox .pricing .rightcol .item.territories ul li {
    height: auto !important;
    height: 30px !important;
}
.lightbox .pricing .rightcol .item.territories ul li.separator {
    height: 1px !important;
}
.lightbox .pricing .rightcol .item.territories ul label {
   margin: 0 0 0 8px !important;
   height: 24px;
   line-height: 24px;
   background: none;
}
.lightbox .pricing .rightcol .item.territories input {
    height: 24px !important;
    margin: 0;
    padding: 0 !important;
}
.lightbox .pricing .rightcol .buttons {
    margin: 0 auto;
}
.lightbox .pricing .rightcol .buttons p.price {
    position: static;
    margin-bottom: 20px !important;
    font-size: 17px;
    text-align: center;
    border-bottom: 1px #e0e0e0 solid;
    padding-bottom: 20px;
}
.lightbox .pricing .rightcol a.button-blue {
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.lightbox .pricing .rightcol a.button-blue.left {
    float: none !important;
    margin: 0 auto;
}
.lightbox .pricing .rightcol a.button-blue + a.button-blue.left {
	float: left !important;
	margin: 0;
}
.lightbox .cs_addtocart {
	top: 87px !important;
    left: 50px;
    width: 180px !important;
    margin-top: 10px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.lightbox .pricing .cs_addtocart {
	top: 148px !important;
	right: 0;
	left: auto !important;
}
.lightbox .pricing .leftcol {
    padding-right: 0 !important;
}
.lightbox .pricing .leftcol p {
    font-size: 13px;
}
.lightbox .pricing .leftcol span.h2 {
    margin: 15px 0;
    height: 40px;
    line-height: 40px;
    background-color: #a9a9a9;
    color: #ffffff;
    padding: 0;
    text-align: center;
}
.lightbox .pricing #resp-license-details span {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* other */
div.my-account-lightbox-categories {
    text-align: center;
}
div.my-account-lightbox-categories > form > input#category_name {
    width: 85% !important;
}
div#div_existing_categories > p > b {
    display: inline-block;
    width: 15%;
    text-align: left;
}
