.lightbox {
    width: auto;
    width: 760px;
}
.lightbox .header {
    height: auto;
    padding-bottom: 20px;
}
.lightbox .pricing .rightcol div > p {
    font-size: 14px;
}
.lightbox .pricing .rightcol .item label,
.lightbox .pricing .rightcol .item input,
.lightbox .pricing .rightcol .item select,
.lightbox .pricing .rightcol .item div.description {
    display: block;
    width: 75%;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    float: none;
}
.lightbox .pricing .rightcol .item input,
.lightbox .pricing .rightcol .item div.description {
    width: 73.5%;
    float: right;
}
.lightbox .pricing .rightcol .item label {
    width: 77%;
    font-size: 14px;
    float: none;
}
.lightbox .pricing .rightcol .item label {
    width: 87%;
    width: auto;
    float: left;
    background: none;
}
.lightbox .pricing .rightcol .item input {
    padding-left: 1%;
    padding-right: 1%;
    margin-right: auto !important;
    margin-bottom: 15px;
    margin-left: auto !important;
    float: right;
    width: 74.5%;
}
.lightbox .pricing .rightcol .item select {
    left: 0;
    width: 77%;
}
.lightbox .pricing .rightcol .item select {
/*         width: 87%; */
    margin-bottom: 15px;
}
.lightbox .pricing .rightcol .item select {
    padding-top: 5px;
    font-size: 14px;
    vertical-align: baseline;
    float: right;
}
.lightbox .pricing .rightcol a.button-blue {
    width: 180px;
    height: 38px;
    line-height: 38px;
    font-size: 15px;
}
.lightbox .header,
.lightbox .pricing > .leftcol,
.lightbox .pricing .rightcol > * {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.lightbox .pricing #resp-license-details span {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.lightbox .pricing > .leftcol {
    padding-right: 0 !important;
}
.lightbox .pricing .leftcol span.h2 {
    margin: 15px 0;
    height: 40px;
    line-height: 40px;
    background-color: #a9a9a9;
    color: #ffffff;
    padding: 0;
    text-align: center;
}
.lightbox .pricing .rightcol .buttons {
    margin: 0 auto;
    padding: 21px 0 0;
}
.lightbox .pricing .rightcol .buttons p.price {
    position: static;
    margin-bottom: 20px !important;
    font-size: 17px;
    text-align: center;
    border-bottom: 1px #e0e0e0 solid;
    padding-bottom: 20px;
}
.lightbox .pricing .rightcol .item {
    height: auto;
    padding-bottom: 25px;
    clear: both;
}
.closebutton {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    height: auto;
}
.closebuttonholder {
    text-align: left;
    margin-left: 20px;
}
.closebuttonholder > .closebutton {
    margin-left: 0;
    margin-top: -31px;
}
.closebutton.inheader {
    display: inline-block;
    display: none;
    position: static;
    margin-top: 10px;
}
.lightbox .header .desc {
    position: static;
    clear: both;
    width: 100%;
    margin-top: 15px;
}
.lightbox {
    padding: 20px 0;
}
.lightbox .header a.logo {
    position: static;
    float: left;
}
.lightbox .header a.logo img {
    width: 200px;
    height: auto;
}
.lightbox .pricing .rightcol .item ul li label {
    margin-left: 15px !important;
    display: inline !important;
}
.lightbox .pricing .item.territories {
    height: auto !important;
}
.lightbox .pricing .item.territories ul {
    height: 300px;
}
.lightbox .pricing .item.territories ul > li {
    margin: 10px 0 !important;
}
.lightbox .pricing .item.territories ul > li span input {
    margin-top: -4px;
    margin-left: 10px;
}
.lightbox .pricing .rightcol {
    width: 60%;
    padding-left: 0px !important;
}
.lightbox .pricing .rightcol .item ul {
    width: 85% !important;
    width: 74.5% !important;
    margin-left: auto;
    margin-right: auto !important;
    padding: 0 1%;
    float: none !important;
    float: right !important;
}
